body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.nav{
    background-color: rgb(233, 71, 71);
    width:100vw;
    left:0;
    top:0;
    z-index:10;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    box-shadow: 0 2px 0 rgba(0,0,0,0.4);
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    max-height:100px;
}
ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;

}
li{
    margin: 0 2vw;
    font-size: 3vh;
}


.nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 1rem 0.5rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
a:hover{
    background-color: blueviolet;
}
@media only screen and (max-width:500px){
    ul{
        flex-direction: column;
    }
    li{
        margin: 0;
    }
    a{
        display: block;
    }
}